<div class="container">
  <div class="our-blogs-carsoul text-center">
    <h4>our blogs</h4>
    <h2>ou’re About to Explore the World of Affiliate Marketing</h2>
    <div class="see-all">
      <span>
        <img
          src="../../../../assets/img/Rectangle 628.svg"
          alt=""
          class="seeall-bubble"
        />
        see all
        <img
          src="../../../../assets/img/arrow right.svg"
          alt=""
          class="seeall-arrow"
        />
      </span>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions" class="container">
    <ng-template carouselSlide>
      <div class="owl-bg">
        <div class="blogimg-div">
          <img
            class="blog-img"
            src="../../../../assets/img/hhhhhhh.svg"
            alt=""
          />
          <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
        </div>
        

        <div class="text-start m-auto blog-caption">
          <h4>blog title will be placed here</h4>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
              consequat malesuada imperdiet auctor. Eros in non phasellus
              parturient .
            </p>
          </div>
          <div class="blog-date d-flex">
            <img src="../../../../assets/img/date.svg" alt="" />
            <span class="ms-2">14 Feb 2023</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="owl-bg">
        <div class="blogimg-div">
          <img
            class="blog-img"
            src="../../../../assets/img/hhhhhhh.svg"
            alt=""
          />
          <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
        </div>
        

        <div class="text-start m-auto blog-caption">
          <h4>blog title will be placed here</h4>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
              consequat malesuada imperdiet auctor. Eros in non phasellus
              parturient .
            </p>
          </div>
          <div class="blog-date d-flex">
            <img src="../../../../assets/img/date.svg" alt="" />
            <span class="ms-2">14 Feb 2023</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="owl-bg">
        <div class="blogimg-div">
          <img
            class="blog-img"
            src="../../../../assets/img/hhhhhhh.svg"
            alt=""
          />
          <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
        </div>
        

        <div class="text-start m-auto blog-caption">
          <h4>blog title will be placed here</h4>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
              consequat malesuada imperdiet auctor. Eros in non phasellus
              parturient .
            </p>
          </div>
          <div class="blog-date d-flex">
            <img src="../../../../assets/img/date.svg" alt="" />
            <span class="ms-2">14 Feb 2023</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="owl-bg">
          <div class="blogimg-div">
            <img
              class="blog-img"
              src="../../../../assets/img/hhhhhhh.svg"
              alt=""
            />
            <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
          </div>
          
  
          <div class="text-start m-auto blog-caption">
            <h4>blog title will be placed here</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
                consequat malesuada imperdiet auctor. Eros in non phasellus
                parturient .
              </p>
            </div>
            <div class="blog-date d-flex">
              <img src="../../../../assets/img/date.svg" alt="" />
              <span class="ms-2">14 Feb 2023</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="owl-bg">
          <div class="blogimg-div">
            <img
              class="blog-img"
              src="../../../../assets/img/hhhhhhh.svg"
              alt=""
            />
            <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
          </div>
          
  
          <div class="text-start m-auto blog-caption">
            <h4>blog title will be placed here</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
                consequat malesuada imperdiet auctor. Eros in non phasellus
                parturient .
              </p>
            </div>
            <div class="blog-date d-flex">
              <img src="../../../../assets/img/date.svg" alt="" />
              <span class="ms-2">14 Feb 2023</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="owl-bg">
          <div class="blogimg-div">
            <img
              class="blog-img"
              src="../../../../assets/img/hhhhhhh.svg"
              alt=""
            />
            <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
          </div>
          
  
          <div class="text-start m-auto blog-caption">
            <h4>blog title will be placed here</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
                consequat malesuada imperdiet auctor. Eros in non phasellus
                parturient .
              </p>
            </div>
            <div class="blog-date d-flex">
              <img src="../../../../assets/img/date.svg" alt="" />
              <span class="ms-2">14 Feb 2023</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="owl-bg">
          <div class="blogimg-div">
            <img
              class="blog-img"
              src="../../../../assets/img/hhhhhhh.svg"
              alt=""
            />
            <img src="../../../../assets/img/shareIcon.svg" alt="" class="share-icon">
          </div>
          
  
          <div class="text-start m-auto blog-caption">
            <h4>blog title will be placed here</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur. Erat sit tortor urna
                consequat malesuada imperdiet auctor. Eros in non phasellus
                parturient .
              </p>
            </div>
            <div class="blog-date d-flex">
              <img src="../../../../assets/img/date.svg" alt="" />
              <span class="ms-2">14 Feb 2023</span>
            </div>
          </div>
        </div>
      </ng-template>
  </owl-carousel-o>
</div>
